page-employee {
	.header .col {
	  background-color:lightgrey;
	}
	.col {
	  border: solid 1px grey;
	  border-bottom-style: none;
	  border-right-style: none;
	}

	.row:nth-child(odd) {
		background-color: #b3b3b3;
	}

	.col:last-child {
	  border-right: solid 1px grey;
	}

	.row:last-child .col {
	  border-bottom: solid 1px grey;
	}

}
