page-employee 
{
	.header{
	
	
		background-color: transparent;
		color:white;
	}
	.header .col {
	
		text-align: center;
		color:white;
	
	}
	.col {
	  border: solid 0px;
	  border-bottom-style: none;
		border-right-style: none;
		text-align: center;
		color:white;
	}
ion-content {
	background: url("../assets/imgs/background.jpg")  !important;
	background-repeat: no-repeat;
	background-size: cover !important;
	margin-top: 50px;
	
}


hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(255,255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 250, 250, 0));
}
	

	.col:last-child {
	  border-right: solid 1px grey;
	}

	.row:last-child .col {
	  border-bottom: solid 1px grey;
	}



}
