<!--
  Generated template for the EmployeePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>
      Employees
    </ion-title>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>



<ion-content class="employee-page" padding>

 <div *ngIf="employees">
    <div class="row header">
          <div class="col"><h3>Employee Name</h3></div>
          <div class="col"><h3>Pay Type</h3></div>
          <div class="col"><h3>Pay Rate</h3></div>

        </div>
        <hr>
    <div class="row" *ngFor="let employee of employees">
      <div class="col">{{employee.lastName}}, {{employee.firstName}}</div>

      <div class="col">{{employee.payType}}</div>
      <div class="col">{{employee.payRate}}</div>
    </div>
  </div>



</ion-content>
