page-login,
.login {
  ion-content {
    background: url("../assets/imgs/background.jpg") !important;

    background-size: cover !important;
  };


  background-color: #fff;
  &::after {
    content: "";
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
  }

  .scroll-content {
    display: flex;
    align-items: center;
    justify-content: center;
    //background: rgba(50, 10, 92, .4);

    .login-content {
      width: 86%;

      .logo {
        width: 120px;
        height: 120px;
        margin: 20px auto 0;
        border-radius: 10%;
        background: url("../assets/imgs/logo.png") no-repeat;
        background-size: 100%;
      }

      ion-label{
        ion-icon{
          font-size: 2rem;
          padding-right: 0px;
        }
      }

      .button-inner {
        font-weight: bolder;
        ion-icon{
          font-weight: bolder;
        }
      }



      .list-form {
        padding: 0;
        margin-bottom: 0;

        ion-item {
          background: none;
          padding: 0;
          font-weight: bolder;

          &:first-child {
            border-top: none;
          }

          &:after {
            display: none;
          }

          ion-label {
            font-size: 1em;
            color: color($colors, primary);
          }

          input {
            color: color($colors, primary);
          }
        }
      }
    }
  }
}
