page-contact {


  ion-content {
    background: url("../assets/imgs/background.jpg")  !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    margin-top: 50px;
    color:white;

  }


}
