<!--
  Generated template for the TestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>
      Enter Payroll
    </ion-title>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

 <div *ngIf="employees">
    <div class="row header">
          <div class="col">Employee Name</div>
          <div class="col">Hours Worked</div>
        </div>
    <div class="row" *ngFor="let employee of employees">
      <div class="col">{{employee.lastName}}, {{employee.firstName}}</div>
      <div class="col"><ion-input type="number" step=".25" value=40></ion-input></div>
    </div>
  </div>

</ion-content>
